<div class="flash" ng-if="flash">
	<div class="aw_wrapper">
		<div 
			ng-class="{ 
				'bs_alert': flash, 
				'bs_alert-success': flash.type === 'success', 
				'bs_alert-danger': flash.type === 'error',
				'bs_alert-info': flash.type === 'info' ,
				'bs_alert-warning': flash.type === 'warning' ,
			}" >
			<span class="aw_font_17">{{flash.message}}</span>
			<ul ng-if="flash.list">
				<li class="aw_p5" ng-repeat="error in flash.list">{{error.message + ': ' +error.field}}</li>
			</ul>
		</div>
	</div>
</div>